.container {
    padding: 0.5rem;
    border: rgb(225, 225, 225) 1px solid;
    margin: 0 1rem 0 1rem;
}

.container:after {
    content: "";
    clear: both;
    display: table;
}

.content {
    float: left;
}

.stateIcon {
    float: left;
    padding-right: 0.5rem;
}

.text {
    font-size: smaller;
}

.title {
    font-weight: bold;
}

.comments {
    float: right;
    font-size: smaller;
}
.commentIcon {
    padding-right: 0.3rem;
}
